.adminWrapper {
  display: flex;
  align-items: flex-start;
  min-height: calc(100vh - 70px);
}

.sidebar {
width: 240px;
  background-color: #2c3e50;
  color: #fff;
  padding: 20px;
  
  /* 固定の設定 */
  position: sticky; 
  top: 70px;           // 画面の一番上に固定
  height: calc(100vh - 112px);    // サイドバー自体の高さを画面ぴったりにする
  max-height: calc(100vh - 112px);
  
  /* サイドバー内の項目が増えた場合のみサイドバー内をスクロールさせる */
  overflow-y: auto;
  flex-shrink: 0;

  .nav {
    ul {
      list-style: none;
      padding: 0;
      
      li {
        margin-bottom: 10px;
        
        a {
          color: #ecf0f1;
          text-decoration: none;
          display: block;
          padding: 10px;
          border-radius: 4px;
          transition: background 0.3s;

          &:hover {
            background-color: #34495e;
          }
        }
      }
    }
  }
}

.mainContent {
  flex: 1;
  padding: 40px;
  background-color: #f8f9fa;
}