.container {
    margin: 40px auto;
    max-width: 800px;
    padding: 0 1rem;
}

.list {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
}

.post {
    border: 1px solid #ccc;
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
    padding: 1rem;
}

.postInfo {
    display: flex;
    justify-content: space-between;
}

.postDate {
    color: #888;
    font-size: .8rem;
}

.postCategories {
    display: flex;
    flex-wrap: wrap;
}

.postCategory {
    border: 1px solid #06c;
    border-radius: .2rem;
    color: #06c;
    font-size: .8rem;
    margin-right: .5rem;
    padding: .2rem .4rem;
}

.postTitle {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-top: .5rem;
}

.postBody {
    font-size: 1rem;
    line-height: 1.5;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}

.link {
  color: black;
  text-decoration: none;

  &:hover {
    color: #333;
  }
}

