.App {
  text-align: center;
}

.header {
    align-items: center;
    background-color: #333;
    color: #fff;
    display: flex;
    font-weight: 700;
    justify-content: space-between;
    padding: 24px;
}

.header-link {
    color: #fff;
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}
